h1
 {
   text-align: center;
  font-family: Book Antiqua;

  }
  h4 {
    text-align: justify;
    font-family: Book Antiqua;
  }
  p {
    text-align: justify;
    font-family: Book Antiqua;
  }
  h6 {
    text-align: justify;
    font-family: Book Antiqua;
  }
  li {
    text-align: justify;
    font-family: Book Antiqua;
  }